<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= title %></title>
		<style>
			*,
			*::before,
			*::after {
				margin: 0;
				padding: 0;
				box-sizing: inherit;
			}

			html {
				box-sizing: border-box;
				margin: 20px;
			}

			ul {
				list-style: none;
				display: flex;
				flex-wrap: wrap;
				gap: 15px;
				margin: 20px 0;
			}

			li {
				display: flex;
				flex-direction: column;
				background-color: sandybrown;
				border-radius: 8px;
				padding: 12px;
			}
		</style>
	</head>
	<body>
		<h1><%= title %></h1>

		<div id="todoList"><%- include('_todos') %></div>

		<form method="post" action="/add-todo">
			<input placeholder="Název todočka" name="title" />
			<button type="submit">Přidat</button>
		</form>

		<script>
			const ws = new WebSocket("ws://localhost:3000");
			ws.addEventListener("message", (ev) => {
				const data = JSON.parse(ev.data);
				if (data.type === "todoList") {
					const el = document.getElementById("todoList");
					el.innerHTML = data.html;
				}
			});
		</script>
	</body>
</html>
